.main-chat
  .main-chat__header
    .main-chat__header__group-info
      .main-chat__header__group-info__groupname
        =@group.name
      .main-chat__header__group-info__member
        Member:
        -@group.users.each do |u|
          =u.name 
          =""
    =link_to "Edit", edit_group_path(@group.id), class:"main-chat__header__group-edit"
  .main-chat__message-list
    =render @messages
  .main-chat__message-form-padding
    = form_for [@group, @message] do |f|
      .main-chat__message-form-padding__form
        .main-chat__message-form-padding__form__text
          = f.text_field :content, class: 'main-chat__message-form-padding__form__text__chat', placeholder: 'type a message'
          = f.label :image, class: 'main-chat__message-form-padding__form__text__icon' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'main-chat__message-form-padding__form__text__icon__open'
        = f.submit 'Send', class: 'main-chat__message-form-padding__form__send'
